<ion-header>
  <ion-toolbar>
    <ion-title> Zodiac </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item class="ion-padding">
    <ion-label>Select Zodiac Sign</ion-label>
    <ion-select placeholder="Select one" (ionChange)="onSignChange($event)">
      <ion-select-option value="aries">Aries</ion-select-option>
      <ion-select-option value="taurus">Taurus</ion-select-option>
      <ion-select-option value="gemini">Gemini</ion-select-option>
      <ion-select-option value="cancer">Cancer</ion-select-option>
      <ion-select-option value="leo">Leo</ion-select-option>
      <ion-select-option value="virgo">Virgo</ion-select-option>
      <ion-select-option value="libra">Libra</ion-select-option>
      <ion-select-option value="scorpio">Scorpio</ion-select-option>
      <ion-select-option value="sagittarius">Sagittarius</ion-select-option>
      <ion-select-option value="capricorn">Capricorn</ion-select-option>
      <ion-select-option value="aquarius">Aquarius</ion-select-option>
      <ion-select-option value="pisces">Pisces</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="horoscope">
    <h2>Signo: {{ horoscope.sign }}</h2>
    <p>Fecha: {{ horoscope.date }}</p>
    <p>Horóscopo: {{ horoscope.horoscope }}</p>
  </div>


  <app-footer></app-footer>
</ion-content>