<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-day-selector></app-day-selector>

  <ion-grid class="schedule-grid">
   

    <ion-row class="header-row">
      <ion-col size="2" class="time-slot"></ion-col>
      <ion-col size="10" class="day-header">Monday</ion-col>
    </ion-row>

    
    <div class="hours-container">
      <ion-row *ngFor="let hour of hours" class="time-row">

        <ion-col size="2" class="time-slot">
          <p>{{ hour }}</p>
        </ion-col>
        

        <ion-col size="10" class="task-slot">
          <p>Event details</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  
  <div class="button-container">
    <ion-button class="custom-button">
      <ion-icon slot="start" name="pencil-outline"></ion-icon>
      Edit schedule
    </ion-button>
    <ion-button class="custom-button">
      <ion-icon slot="start" name="download-outline"></ion-icon>
      Export schedule
    </ion-button>

    <app-footer></app-footer>
</div>
</ion-content>
