<ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Close</ion-button>
        </ion-buttons>
        <ion-title>{{ isNew ? 'New Subject' : isEditMode ? 'Edit Subject' : 'View Subject' }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-card class="custom-card">
        <!-- Modo de Visualización -->
        <div *ngIf="!isEditMode && !isNew">
          <ion-item lines="none">
            <ion-label position="stacked">Subject</ion-label>
            <ion-text>{{ subjectData.subjectName }}</ion-text>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Location</ion-label>
            <ion-text>{{ subjectData.location }}</ion-text>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Start</ion-label>
            <ion-text>{{ subjectData.start }}</ion-text>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">End</ion-label>
            <ion-text>{{ subjectData.end }}</ion-text>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Reminders</ion-label>
            <div *ngFor="let reminder of subjectData.reminders">
              <ion-text>{{ reminder }}</ion-text>
            </div>
          </ion-item>
        </div>

        <!-- Modo de Creación/Edición -->
        <form *ngIf="isEditMode || isNew" (ngSubmit)="saveChanges()">
          <ion-item lines="none">
            <ion-label position="stacked">Subject Name</ion-label>
            <ion-input [(ngModel)]="editData.subjectName" name="subjectName" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Location</ion-label>
            <ion-input [(ngModel)]="editData.location" name="location" required></ion-input>
          </ion-item>

          <!-- Campo para seleccionar la hora de inicio -->
          <ion-item lines="none">
            <ion-label position="stacked">Start Time</ion-label>
            <ion-datetime [(ngModel)]="editData.start" name="start" presentation="time" display-format="HH:mm" hour-cycle="h23"></ion-datetime>

          </ion-item>

          <!-- Campo para seleccionar la hora de finalización -->
          <ion-item lines="none">
            <ion-label position="stacked">End Time</ion-label>
            <ion-datetime [(ngModel)]="editData.end" name="end" presentation="time" display-format="HH:mm" hour-cycle="h23"></ion-datetime>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Reminders</ion-label>
            <ion-reorder-group [(ngModel)]="editData.reminders" disabled="false">
              <ion-item *ngFor="let reminder of editData.reminders; let i = index">
                <ion-input [(ngModel)]="editData.reminders[i]" placeholder="Reminder text"></ion-input>
                <ion-button slot="end" color="danger" (click)="removeReminder(i)">Delete</ion-button>
              </ion-item>
            </ion-reorder-group>
          </ion-item>

          <ion-item>
            <ion-button (click)="addReminder()">Add Reminder</ion-button>
          </ion-item>

          <ion-button expand="block" type="submit">Save Changes</ion-button>
        </form>


      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
