.custom-card {
    background-color: #D5C1FE;
    padding: 10px;
    border-radius: 8px;
    z-index: 1;
  }

  .custom-item {
    --background: transparent;
  }

  .custom-text {
    color: black;
  }
