<ion-content [fullscreen]="true">
<div class="container">
  <div class="card-header">
    <img src= "assets/gato_nariz_morada.svg">
  </div>
</div>
  <ion-card class='login-card'>
    <ion-card-header>
      <h1>CatNote</h1>
      <h1>LOGIN</h1>
    </ion-card-header>
    <ion-card-content>
          <ion-input 
          label="Email or username"
          labelPlacement="floating"
          type="Enter text"></ion-input>
          
          <ion-input
          label ="Password"
          labelPlacement="floating"
          
          type = "password">
          </ion-input>
      <ion-button shape="round"> login </ion-button>

      <ion-text>
      <p>You don´t have an account?<a router-link="/sign-up" > Sign up now</a></p>
      </ion-text>

      
    </ion-card-content>

  </ion-card>

</ion-content>
