<ion-content [fullscreen]="true">
<div class="container">
  <div class="card-header">
    <img src= "assets/gato_nariz_morada.svg">
  </div>
</div>
  <ion-card class='login-card'>
    <ion-card-header>
      <h1>CatNote</h1>
      <h1>SIGN UP</h1>
    </ion-card-header>
    <ion-card-content>
     <app-forms></app-forms>

      <ion-text>
      <p>You don´t have an account?<a router-link="/login" > Sign up now</a></p>
      </ion-text>

      
    </ion-card-content>

  </ion-card>

</ion-content>
