<ion-input 
        [formControl]="nameFormControl"
        label="Full Name"
        labelPlacement="floating"
        type="text">
      </ion-input>
      <ion-input 
        [formControl]="usernameFormControl"
        label="Username"
        labelPlacement="floating"
        type="text">
      </ion-input>
      <ion-input 
        [formControl]="emailFormControl"
        label="Email"
        labelPlacement="floating"
        type="email">
      </ion-input>
      <ion-input 
        [formControl]="passwordFormControl"
        label="Password"
        labelPlacement="floating"
        type="password">
      </ion-input>
      <ion-input 
        [formControl]="repeatPasswordFormControl"
        label="Repeat Password"
        labelPlacement="floating"
        type="password">
      </ion-input>
      <ion-button shape="round" (click)= "onSubmit()"> create account </ion-button>