.custom-item {
    margin: auto;
    margin-top: 25%;
    max-width: 70%;
    background: #B590FF;
    border-radius: 10px;
    
  }
  
  .custom-select {
    --background: transparent;
    --color: #fff;
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
